---
site_name: pre-commit-vba
repo_name: pre-commit-vba
repo_url: https://github.com/noda-hiroyuki-kit/pre-commit-vba
theme:
  name: material
  language: ja
  palette:
    primary: cyan
  icon:
    repo: fontawesome/brands/github
  features:
    - content.code.annotate
    - content.code.copy
    - content.code.fold
    - content.tabs.linked
    - content.code.annotate
    - content.code.copy
    - content.footnote.tooltips
    - content.tabs.link
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    - navigation.path
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.integrate
    - toc.follow
plugins:
  - search
  - i18n:
      docs_structure: suffix
      languages:
        - locale: ja
          build: true
          name: ja - 日本語
          default: true
          site_name: pre-commit-vba
        - locale: en
          name: en - English
          build: true
          site_name: pre-commit-vba
          nav_translations:
            ホーム: Home
            使用方法: Usage
            設定: Configuration
            開発: Development
            貢献: Contributing
nav:
  - ホーム: index.md
  - 使用方法: usage.md
  - 設定: configuration.md
  - 開発:
      - 貢献: contributing.md
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true
  - pymdownx.betterem
  - pymdownx.caret
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tilde
  - pymdownx.blocks.admonition:
      types:
        - note
        - attention
        - caution
        - danger
        - error
        - tip
        - hint
        - warning
        - info
        - check
  - pymdownx.blocks.details
  - pymdownx.blocks.tab:
      alternate_style: true
  - plantuml_markdown:
      server: https://www.plantuml.com/plantuml
extra:
  alternate:
    - link: /
      name: ja - 日本語
      lang: ja
    - link: /en/
      name: en - English
      lang: en
